<h2>Edit celebrity</h2>
<form method="POST" action="/celebrities/<%= celeb._id %> ">
  <label
    >Name:
    <input type="text" name="name" value="<%= celeb.name %>" />
  </label>
  <label
    >Occupation:
    <input type="text" name="occupation" value="<%= celeb.occupation %>" />
  </label>
  <label
    >Catch Phrase:
    <input type="text" name="catchPhrase" value="<%= celeb.catchPhrase %>" />
  </label>
  <button type="submit">Save</button>
</form>
